@import url(footer.css);
@import url(input_control.css);

html body {
    background: linear-gradient(
        90deg, rgba(18,12,124,1) 0%,
        rgba(0,0,185,1) 100%
    );
    font-family: 'Golos Text', sans-serif;
}

section {
    min-height: 100vh;
    height: 100%;
}

section .card {
    background-color: #3500D3;
    color: #fff;
    border-radius: 25px;
}

section .form-check a {
    color: rgb(0, 162, 255);
}

section .form-check a:hover {
    color: rgb(151, 162, 207);
}

section img {
    border-radius: 25px;
}
